.test {
  border: 1px solid #33
}

.white-space-pre-wrap44 {
  white-space: pre-wrap !important;
}

.white-space-pre-wrap2 {
  white-space: pre-wrap !important;
}

.white-space-pre-wrap33 {
  white-space: pre-wrap !important;
}